body {
    background-image: url(https://wallpapercat.com/w/full/b/a/9/1209998-3840x2160-desktop-4k-glow-in-the-dark-background-photo.jpg);
    background-color:rgb(14, 72, 160);
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.logo{
    margin-top: 5em;
    display: block;
    height: 200px ;
    margin-left: auto;
    margin-right: auto;
}
.searchbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4rem;

    
}
.box{
    width: 650px;
    height: 50px;
    background-color: rgba(55, 45, 83, 0.5);
    border-radius: 40px;
    justify-content: space-evenly;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 
    0 4px 30px rgba(0, 0, 0, 0.2),   
    0 0 20px rgba(0, 150, 255, 0.1); 
}

#userinput{
    color: rgb(198, 214, 228);
    border-radius: 40px;
    width: 500px;
    height: 30px;
    font-size: larger;
    padding: 10px;
    padding-left: 20px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
}

#userinput:focus{
    outline: none;
    transform: none;

}

#userinput::placeholder{
    color:rgb(198, 214, 228);
}
#send{
    height: 30px;
    border-radius: 40px;
    width: 100px;
    background-color: rgba(255, 0, 212);
    border-style: none;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}


.grid{
    padding: 50px;
    margin-top: 3rem;
    display: grid;
    grid-auto-rows:auto;
    margin-right: auto;
    margin-left: auto;
    max-height: 500px;
    max-width:calc(100% - 12rem);
    box-sizing: border-box;
    overflow-x:hidden;
    overflow-y: auto;

    scroll-snap-type: y mandatory;

    
}

.grid::-webkit-scrollbar{
    display:  none;
}

.item {
    scroll-snap-stop: always;
  background: rgba(55, 45, 83, 0.5);
  backdrop-filter: blur(15px);        
  border-radius: 20px;
  padding: 24px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1); 
  box-shadow: 
    0 4px 30px rgba(255, 45, 185, 0.2),   
    0 0 20px rgba(255, 3, 158, 0.1);   
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  word-wrap: break-word;
  overflow-wrap: anywhere;
  box-sizing: border-box;
  max-width: 100%;
  display: block;
  word-break: break-all;

}

.item:hover{
    scale: 1.01;
    border: 2px solid aqua;
}
 
.info{
    color: rgb(198, 214, 228);
    font-family: Arial, Helvetica, sans-serif;
}


.url{
    font-weight: 600;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: rgb(255, 0, 212);
}

.url:hover{
    size: 1.01;
    color: aqua;
}

#send:hover{
    background-color: aqua;
}